<div class="container mx-auto py-16 px-4 md:px-8">
  <!-- Titolo -->
  <h2 class="text-gray-400 text-3xl font-light mb-4">Galleria</h2>
  <h3 class="text-black text-4xl font-bold mb-8">Foto</h3>

  <!-- Griglia delle immagini -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4">
    <div class="w-full h-64">
      <img src="https://www.bikeitalia.it/wp-content/uploads/2021/08/ciclovia-dei-parchi-della-calabria.jpg" alt="Bici 1" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.ghtcomano.it/images/content/106857_13246_2_C_1170_650_0_3202889/37020.jpg" alt="Bici 2" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.gardalakecollection.com/mask-blog_box/326/image/blog/Articolo-MountainBike/CopertinaArticolo-MountainBike.jpeg.webp" alt="Bici 3" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://it.routedesgrandesalpes.com/sites/alpesavelo/files/styles/visuels/public/medias/images/Les%20Chemins%20du%20Soleil%20a%20VTT%20la%20traversee%20des%20Prealpes%20Brice%20Milbergue.jpg?h=62c27c7e&itok=IRXKDXn6" alt="Bici 4" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.turbolince.com/images/costruzione-manutenzione-sentieri-5-1024x683.jpg" alt="Bici 5" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://d2exd72xrrp1s7.cloudfront.net/www/collection/2178923/1Q95Q8?width=&height=&crop=&q=40" alt="Bici 6" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.visittrentino.info/_default_upload_bucket/5287712/image-thumb__5287712__story-list-img/45281.jpg" alt="Bici 7" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.canyon.com/on/demandware.static/-/Library-Sites-canyon-shared/default/dw92a89db1/images/blog/best-bikepacking-bikes-grail-1.jpg" alt="Bici 8" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://4action.s3.eu-west-3.amazonaws.com/2022/07/bici-da-viaggio-2022_00003-640x427.jpg" alt="Bici 9" class="w-full h-full object-cover rounded-lg">
    </div>
    <div class="w-full h-64">
      <img src="https://www.venosta.net/media/4b1a0fc8-e38e-4888-9287-44af0bb3eb86/960_x_580/biken-martelltal-cinemepic-3.jpg" alt="Bici 10" class="w-full h-full object-cover rounded-lg">
    </div>
  </div>
</div>
