<div class="container mx-auto py-16">
  <h2 class="text-3xl font-bold text-center text-gray-800 mb-12">Scopri le Nostre Sezioni</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
    <!-- Card Servizi -->
    <div class="card rounded-lg overflow-hidden shadow-lg hover:scale-105 transition-all duration-300">
      <a href="Cardone">
        <img src="https://d2exd72xrrp1s7.cloudfront.net/www/guide/1945655/1PhMZ0?width=768&height=576&crop=true" alt="Servizi" class="w-full h-48 object-cover">
        <div class="p-6 bg-gray-800 text-white">
          <h3 class="text-xl font-semibold mb-2">Servizi</h3>
          <p class="text-sm">Esplora i nostri servizi su misura per soddisfare le tue esigenze professionali e personali.</p>
        </div>
      </a>
    </div>

    <!-- Card Galleria -->
    <div class="card rounded-lg overflow-hidden shadow-lg hover:scale-105 transition-all duration-300">
      <a href="/gallery">
        <img src="https://i0.wp.com/bicyclesouth.co.za/wp-content/uploads/2020/09/SHEveresting-4.jpg?fit=1024%2C768&ssl=1" alt="Progetti" class="w-full h-48 object-cover">
        <div class="p-6 bg-gray-800 text-white">
          <h3 class="text-xl font-semibold mb-2">Galleria</h3>
          <p class="text-sm">Dai un'occhiata ai nostri progetti innovativi e alle soluzioni creative che abbiamo realizzato.</p>
        </div>
      </a>
    </div>

    <!-- Card Team -->
    <div class="card rounded-lg overflow-hidden shadow-lg hover:scale-105 transition-all duration-300">
      <a href="/percorsi">
        <img src="https://redwoodadventurecycling.com/images/Kneeland_crew.jpg" alt="Team" class="w-full h-48 object-cover">
        <div class="p-6 bg-gray-800 text-white">
          <h3 class="text-xl font-semibold mb-2">Percorsi</h3>
          <p class="text-sm">Scopri il nostro team di esperti e i professionisti che fanno la differenza ogni giorno.</p>
        </div>
      </a>
    </div>

    <!-- Card Contatti -->
    <div class="card rounded-lg overflow-hidden shadow-lg hover:scale-105 transition-all duration-300">
      <a href="/chisiamo">
        <img src="https://images.squarespace-cdn.com/content/v1/6722bd672d4a6e688a5eaf49/2482dc14-ca76-4dcd-82f1-4fb0c5b6471e/Hum_Hopper_F-55+%281%29.jpg" alt="Contatti" class="w-full h-48 object-cover">
        <div class="p-6 bg-gray-800 text-white">
          <h3 class="text-xl font-semibold mb-2">Staff</h3>
          <p class="text-sm">Contattaci per ulteriori informazioni, domande o richieste. Siamo qui per aiutarti!</p>
        </div>
      </a>
    </div>
  </div>
</div>
