<div id="<%= dom_id articoli %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titolo:</strong>
    <%= articoli.titolo %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Descrizione:</strong>
    <%= articoli.descrizione %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Prezzo:</strong>
    <%= articoli.prezzo %>
  </p>
</div>
